@import url('../../../styles/menu-desktop.css');

.menu-mobile {
    display: none;
}

h1 {
    font-size: 8rem;
    margin-bottom: 5rem;
    margin-top: 9rem;
}

section {
    margin-top: 10rem;
    padding: 2%;
}

section article {
    margin: 0 25%;
}

section article h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
