@import url('../../styles/menu-desktop.css');

.menu-mobile {
    display: none;
}

section h1 {
    font-size: 6rem;
}

section article div {
    margin-bottom: 10rem;
    padding: 3%;
}

section article div p {
    font-size: 3rem;
}

