@import url('../../../styles/config.css');
@import url('../../../styles/menu-cel.css');
@import url('../../../node_modules/bulma/bulma.sass');

body {
    height: auto;
    font-family: 'Rasa', serif;
}

header {
    height: 15vh;
    background-color: var(--palette-old-page);
}

.menu-desktop {
    display: none;
}


section {
    padding: 5%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Rasa', serif;
    color: var(--just-black);
    margin-bottom: 5rem;
    margin-top: 2rem;
}

section h2 {
    font-size: 2.5rem;
}

section h3 {
    font-size: 2rem;
}

section {
    justify-content: center;
}

section article.noticia {
    margin: 5% 2%;
    width: 100%;
    margin-right: 2rem;
    width: auto;
    padding: 4%;
    text-align: left;
    border-style: solid;
    border-color: var(--palette-red);
    transition: all 200ms ease;
}

section article p {
    font-size: 1.5rem;
}

.noticia:hover {
    background-color: var(--palette-red);
    color: var(--just-white);
    transition: all 200ms ease;
}

.noticia:active {
    background-color: var(--just-black);
    border-color: var(--just-black);
}