.menu-mobile ul {
    width: 50vh;
	padding: 5% 0%;
    padding-top: 20%;
}

.menu-mobile li a, .menu-mobile p {
	padding-left: 10%;
	font-size: 5rem;
}

.menu-mobile img {
    margin: 7%;
    transform: scale(1.8);
}


section h1 {
    font-size: 8rem;
    margin-bottom: 5rem;
}

section article h2 {
    font-size: 5rem;
}

section article h3 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

section article div p {
    font-size: 2rem;
}