@import url('../../styles/config.css');
@import url('../../styles/menu-cel.css');


body {
    height: auto;
    font-family: 'Rasa', serif;
}

header {
    height: 15vh;
    background-color: var(--palette-old-page);
}

.menu-desktop {
    display: none;
}

img {
	font-size: 2rem;
}


section {
    margin-top: 15rem;
    margin-bottom: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

section article {
    padding: 5% 10%;
    text-align: center;
}

section article p {
    font-size: 1.2rem;
    line-height: 1.5;
}


section article hr {
    border-style: solid;
    border-color: var(--palette-red);
    border-width: 0.2rem;
}
