.menu-mobile ul {
    width: 50vh;
	padding: 5% 0%;
    padding-top: 20%;
}

.menu-mobile li a, .menu-mobile p {
	padding-left: 10%;
	font-size: 5rem;
}

.menu-mobile img {
    margin: 7%;
    transform: scale(1.8);
}

section {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}

section article {
    width: 60%;
    padding: 5%;
}

section article p {
    font-size: 1.8rem;
    margin-bottom: 2%;
}

section > img {
    border-radius: 10px;
    width: 30%;
    height: 30%;
}



footer p {
    font-size: x-large;
    margin-bottom: 4rem;
}

footer a {
    margin: 0 10%;
}

footer img {
    transform: scale(2);
    transform: all 200ms ease;
    margin-bottom: 5rem;
}

footer img:hover {
    transform: scale(2.4);
    transition: all 200ms ease;
}