@import url('../../../styles/config.css');

html {
    height: auto;
}

body {
    font-family: 'Rasa', serif;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

form {
    width: auto;
    margin: 5%;
    border-style: solid;
    border-color: var(--palette-old-page);
    padding: 3%;
    border-radius: 10px;
}

.login_input {
    width: 100%;
    border: none;
    background-color: transparent;
    margin-top: 1rem;
    font-size: medium;
}

.login_input::placeholder {
    color: var(--just-black);
}

hr {
    width: 100%;
    border-style: solid;
    border-color: var(--palette-old-page);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.login_submit {
    width: 100%;
    border: none;
    background-color: var(--palette-old-page);
    color: var(--just-white);
    font-weight: bold;
    font-size: 1.5em;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all 300ms ease;
}

.login_submit:hover {
    background-color: var(--just-black);
    transition: all 300ms ease;
}

.mensaje {
    color: var(--just-black);
    font-size: 1.5rem;
    margin: 5rem;
    background-color: var(--palette-good-page);
    border-radius: 10px;
    padding: 2%;
}