@import url('../../styles/config.css');
@import url('../../styles/menu-cel.css');


body {
    height: auto;
    font-family: 'Rasa', serif;
}

header {
    height: 15vh;
    background-color: var(--palette-old-page);
}


.menu-desktop {
    display: none;
}

h1 {
    font-size: 5rem;
    font-family: 'Rasa', serif;
    color: var(--just-black);
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 6rem;
}

ul, li {
    list-style: none;
}


section > ul {
    background-color: var(--palette-old-page);
    padding: 1%;
    margin: 0 3%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.4rem;
    padding: 2%;
}

h3 {
    font-size: 1.5rem;
}

.autor {
    background-color: var(--palette-good-page);
    padding: 2%;
    border-radius: 1px;
    margin: 1%;
    height: 5%;
    transition: all .3s;
}

.autor > ul .obra {
    overflow: hidden;
    height: 0rem;
    transition: all .3s;
}

ul > .autor:hover {
    background-color: #f1e0d4;
}

ul > .autor > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.arrow .menu-arrow {
    transform: rotate(90deg);
    transition: transform .3s;
}

.menu-arrow {
    transition: all .2s;
}

ul > .arrow .obra {
    display: block;
    height: auto;
    background-color: var(--palette-old-page);
    padding: 2%;
    border-radius: 2px;
    transition: all .2s;
    margin-top: 2rem;
}

ul > .arrow .obra:hover {
    background-color: var(--palette-good-page);
    transition: all .2s;
}

ul > .arrow .obra button {
    text-decoration: none;
    color: var(--just-black);
    font-size: 1.4rem;
}

button {
    background-color: transparent;
    border: none;
}