.menu-mobile ul {
    width: 50vh;
	padding: 5% 0%;
    padding-top: 20%;
}

.menu-mobile li a, .menu-mobile p {
	padding-left: 10%;
	font-size: 5rem;
}

.menu-mobile img {
    margin: 7%;
    transform: scale(1.8);
}

h1 {
    font-size: 7rem;
    margin-bottom: 10rem;
}


section > ul {
    margin: 0 10%;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

.autor {
    padding: 4%;
    margin-bottom: 1rem;
}


ul > .arrow .obra {
    padding: 3%;
}


ul > .arrow .obra button {
    font-weight: bold;
}
