a > img {
    width: 5%;
    margin: 0;
}

h1 {
    font-size: 6rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
}

h2 {
    font-size: 4rem;
    margin-top: 1rem;
}

form {
    margin: 0 30%;
    margin-top: 10rem;
}

input, textarea, select, form > div {
    font-size: 2rem;
}

form button {
    width: 30%;
    font-size: 2.5rem;
}

table {
    margin-top: 5rem;
}

thead th {
    font-size: 4rem;
}

tbody td {
    font-size: 2rem;
}