@import url('../../../styles/menu-desktop.css');

.menu-mobile {
    display: none;
}

h1 {
    font-size: 8rem;
    margin-bottom: 5rem;
    margin-top: 9rem;
}

section {
    margin-top: 10rem;
    padding: 2%;
}

section article {
    margin: 0 25%;
}

section article.noticia {
    margin: 2% 2%;
    width: 60%;
}

section article h2 {
    font-size: 4.5rem;
}

section article h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
