
h1 {
    font-size: 8rem;
}

form {
    margin: 0 50rem; 
}

.login_input {
    font-size: x-large;
}

hr {
    margin-bottom: 7rem;
}

.login_submit {
    font-size: xx-large;
}

.mensaje {
    margin-left: 40rem;
    margin-right: 40rem;
    font-size: x-large;
}