h1 {
    font-size: xx-large;
    margin-bottom: 0rem;
    margin-top: 5rem;
}

section {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 1%;
}

section a {
    width: 40%;
    font-size: x-large;
    margin: 5% 2%;
}
