:root {
	--palette-good-page: #E6D7BD;
    --palette-old-page: #D5B59C;
    --palette-red: #97141A;
    --just-black: #1C1C1C;
    --just-white: #FAFAFA;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'Nunito', sans-serif; 
	scroll-behavior: smooth;
	background-image: url('../assets/fondo_real.webp');
}
